#edit settings and copy this to credentials.py

### SUPER SECRET ###
GROUPME_TOKEN="groupme token here"
BOT_TOKEN="discord bot token"
### SUPER SECRET END ###

settings = [
    {
        'bot_id': "groupme_bot_id", # this can be found in the groupme bot panel
        'channel_name': "cs_memes",  # discord channel name
        'webhook_url': "discord_webhook_url", # should look something like https://discord.com/api/webhooks/<channel id>/<long string of characters>
        'local_port': 42069, # server internal port, the one you run the flask server on
        'ip': "vps_ip" # in case you want to host on a vps instead of ngrok, I believe only IPv4 works currently, I haven't tested IPv6
    }
]